<!DOCTYPE HTML>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script>
    <script src="./app.js" type="text/javascript"></script>
</head>
<body ng-controller="AppCtrl as vm">
        {{ vm.title }}

    <ul ng-repeate="breed in vm.data">
        <li>{{breed}}</li>
    </ul>
</body>
</html>